<footer class="text-center">
    <p class="m-0">© Copyright Michael Chatzakis
        <script>
            const date = new Date();
            document.write(date.getFullYear());
        </script>&ensp;|&ensp;
        <a href="https://github.com/chatzakis/" target="_blank"><i class="fa-brands fa-github"></i> GitHub</a>&ensp;|&ensp;
        Powered by <a href="https://the-trivia-api.com/" target="_blank">THE TRIVIA API</a>
    </p>
</footer>